{% extends "base.html" %}
{% block content %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'mainscreen/mainscreen.css' %}">

    <div style="background-color: #d0d0d0; min-height: calc(100vh - 56px); padding-bottom: 2rem;">
    <div class="container">

        <div class="header">
            Welcome to the UCS Shelter Management System
        </div>

        <div class="description">
            This program will access the forms for each of the three<br>
            Shelters depending upon the Drop-Down selection
        </div>

        <div class="shelters">
            MENS SHELTER<br>
            WOMANS SHELTER<br>
            DIVERSION CENTER<br>
            WHITE FLAG
        </div>

        <div class="dropdown-section">
            <form method="GET" action="{% url 'mainscreen' %}" id="mainForm">
                <select name="shelter" id="shelterSelect">
                    <option value="mens">Men's Shelter</option>
                    <option value="womens">Woman's Shelter</option>
                    <option value="diversion">Diversion Center</option>
                    <option value="whiteflag">White Flag</option>
                </select>
                <p>Select the Drop-Down menu for the Shelter to Report on and press Go below</p>
                <button type="submit" class="go-btn">Go</button>
            </form>
        </div>

    <!--    <form method="POST" class="admin-section">
          {% csrf_token %}
          <label>Administrator Login</label><br>
          <input type="password" name="admin_password" autocomplete="current-password"><br>
          <button type="submit" name="admin_login">Go</button>
        </form>-->

    </div>
    </div>

{% endblock %}
