{% extends 'base.html' %}
{% block content %}
<style>
    {% if shelter == "Mens Shelter" %}
        body { background-color: #bad8f8; }
    {% elif shelter == "Womans Shelter" %}
        body { background-color: rgb(228, 189, 203); }  /* or whatever color you want */
    {% elif shelter == "Diversion Center" %}
        body { background-color: rgb(205, 197, 197); }  /* or whatever color you want */
    {% endif %}
</style>


<h2>Submit Shift Report - {{ shelter }}</h2>

<form method="POST" action="/shelters/">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Shelter</label>
            <input type="text" class="form-control" name="shelter" value="{{ shelter }}" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label class="form-label">Regular Beds Occupied</label>
            <input type="number" class="form-control" name="regular_occupied">
        </div>
        <div class="col-md-4">
            <label class="form-label">Regular Open Beds</label>
            <input type="number" class="form-control" name="regular_open">
        </div>
        <div class="col-md-4">
            <label class="form-label">Guests On Pass</label>
            <input type="number" class="form-control" name="guests_on_pass">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Hospital</label>
            <input type="number" class="form-control" name="hospital">
        </div>
        <div class="col-md-3">
            <label class="form-label">Jail</label>
            <input type="number" class="form-control" name="jail">
        </div>
        <div class="col-md-3">
            <label class="form-label">NC/NS</label>
            <input type="number" class="form-control" name="nc_ns">
        </div>
        <div class="col-md-3">
            <label class="form-label">Barred</label>
            <input type="number" class="form-control" name="barred">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Hold</label>
            <input type="number" class="form-control" name="hold">
        </div>
        <div class="col-md-6">
            <label class="form-label">Respite Occupied</label>
            <input type="number" class="form-control" name="respite_occupied">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Respite Open</label>
            <input type="number" class="form-control" name="respite_open">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}